API_KEY=
JWT_SECRET=
PORT=

EMAIL_SERVICE=
EMAIL_USER=
EMAIL_PASSWORD=

JWT_VERIFICATION_TOKEN_SECRET=
JWT_VERIFICATION_TOKEN_EXPIRATION_TIME=21600
ORIGIN_URL=http://192.168.0.17:3000
EMAIL_CONFIRMATION_URL=http://192.168.0.17:3000/confirm-email

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_HOST=

TYPEORM_CONNECTION=postgres
TYPEORM_HOST=
TYPEORM_USERNAME=
TYPEORM_PASSWORD=
TYPEORM_DATABASE=
TYPEORM_PORT=
TYPEORM_SYNCHRONIZE=false
TYPEORM_LOGGING=true
TYPEORM_ENTITIES=src/**/*.entity.ts

TYPEORM_MIGRATIONS =src/database/migrations/*.ts
TYPEORM_MIGRATIONS_DIR =src/database/migrations
TYPEORM_MIGRATIONS_TABLE_NAME =migrations

WOMPI_API_SECRET=
WOMPI_APP_ID=
